AuthenticationStorageSystem/EnlightenAss/bin/*

AuthenticationStorageSystem/EnlightenAss/obj/*
AuthenticationStorageSystem/EnlightenAss.v11.suo
AuthenticationStorageSystem/AssClassLibrary/bin/*
AuthenticationStorageSystem/AssClassLibrary/obj/*