﻿<!DOCTYPE html>
<html>
<head>
    <title>Layout Page Content</title>
    <link href="/Content/Site.css" rel="Stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
    <script src="~/Scripts/KeyboardNav.js"></script>
</head>
<body>
    <div class="containerDiv">
        <div class="contentDiv">
            <fieldset>
                <legend>Authentication Storage System</legend>
                <input id="searchText" oninput="search()" name="searchtext" type="text" autocomplete="off"/>
                <button id="myButton" onclick="search()" class="btn btn-small btn-primary" style="margin-bottom: 10px">Go</button>
                <form>
                    <!--<label id="editLabel" class="btn btn-small btn-primary" for="manageToggle">Edit Mode off</label>
                    <input style="display:none" onclick="toggleManage()" type="checkbox" name="toggled" id="manageToggle" />-->
                </form>
            </fieldset>

            <!-- Dynamic content placed in here -->
            <div id="partialDiv"></div>
        </div>
    </div>
</body>
</html>
