﻿<!DOCTYPE html>
<html>
<head>
    <title>Layout Page Content</title>
    <link href="/Content/Site.css" rel="Stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
    <script src="~/Scripts/KeyboardNav.js"></script>
</head>
<body>
    <div class="containerDiv">
        <div class="contentDiv">
            <fieldset>
                <legend>Authentication Storage System</legend>
                <input id="searchText" oninput="search()" name="searchtext" type="text" autocomplete="off"/>
                <button id="myButton" onclick="search(); $('#searchText').focus();" class="btn btn-small btn-primary" style="margin-bottom: 10px">Go</button>

            </fieldset>
            <div id="errorDiv"></div>
            <!-- Dynamic content placed in here -->
            <div id="partialDiv"></div>
        </div>
    </div>
</body>
</html>
