<!DOCTYPE html>
<html>
<head>
<title>Layout Page Content</title>    
    <link href="/Content/Site.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="test0">div0</div>
    <div class="test1">div1</div>
    <div style="background-color:green">div2</div>
    <div style="background-color:yellow">div3</div>
</body>
</html>