﻿<!DOCTYPE html>
<html>
<head>
<title>Layout Page Content</title>    
    <link href="/Content/Site.css" rel="Stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/ajaxRequest.js"></script>
    <script src="~/Scripts/Home.js"></script>
</head>
<body>
    <div class="containerDiv">
        <div class="contentDiv">
            <fieldset>
                <legend>Authentication Storage System</legend>
                <input id="searchText" oninput="search()" name="searchtext" type="text" />
                <button id="myButton" onclick="search()" class="btn btn-small btn-primary" style="margin-bottom:10px">Go</button>
            </fieldset>

            <script type="text/javascript">
                function requestSearch() {
                    $.ajax({
                        url: '/Home/Search',
                        data: { searchText: document.getElementById("searchText").value },
                        dataType: 'html',
                        success: function (data) {
                            $('#partialSearchResults').html(data);
                        }
                    });
                }
            </script>

            <!-- Search results placed inside here -->
            <div id="partialSearchResults"></div>
        </div>
    </div>
</body>
    <script>initialize();</script>
</html>
