.selectedRow{
    background-color:#788;
    color:#FFF;
}

.headerRow.selectedRow{
    background-color:#788;
    color:#FFF;
}

.Development{
    background-color:rgba(168, 0, 0, 0.62)
}

.Development.selectedRow{
    background-color:rgb(168, 0, 0);
    color: white;
}

.Testing{
    background-color:rgba(255, 148, 0, 0.62);
}

.Testing.selectedRow{
    background-color:rgb(255, 148, 0);
    color: white;
}

.Staging{
    background-color:rgba(26, 194, 0, 0.62);
}

.Staging.selectedRow{
    background-color:rgb(26, 194, 0);
    color: white;
}

tr, a, i{
    cursor:pointer;
}

directory{
    text-decoration:underline;
    cursor:pointer;
}

.headerRow{
    background-color:#ABB;
    font-size:16px;
}


body{
	padding-top:50px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background:url("/Content/brickwall.png");
    background-repeat:repeat;
}

.mainTitle {
	margin-left:425px;
	color:#CEE3F6;
}

#searchText{
    width: 600px;
	margin-top:10px;
	margin-left:15px;
}

.containerDiv{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    background-color:#FFF;
    min-height:950px;
}

.headerDiv{
    padding:40px;
    background-color:#FFF;
}

.subtitleDiv{
    font-size: 16pt;
    padding:25px;
    color:#d56c6c;
}

.menuDiv{
/*background-color:#008fc5;*/
background-color: #FFF;
float: left;
padding: 25px;
padding-top: 0px;
padding-bottom: 20px;
width: 150px;
min-height: 600px;
}

.menuItemDiv{
margin-bottom:10px;
margin-top: 15px;
color: #FFF;
padding: 10px;
cursor: pointer;
background-color:#CEE3F6;
}

.menuItemDiv:hover{
background-color:#CEE3F6;
}

.contentDiv{
    padding:35px;
    /*background-color: #CEE3F6;*/
    background-color:#FFF;
    min-height:700px;
}

/*
.footerDiv{
    padding: 30px;
    background-color: #22333e;
    color:#FFF;
    text-align: right;
}
    */

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

/*table{
padding: 0 1.4em 1.4em 1.4em;
margin: 0 0 1.5em 0;
border-collapse: collapse;
border: solid;
border-width: 1px;
border-color: #008fc5;
}

th,td{
padding-left:10px;
padding-right:10px;
width:auto;
}

.rowHighlight:hover{
background-color: #FFF;
}


.tableHeader{
font-weight:bold;
border:solid;
border-width: 1px;
border-color:#104E8B;
}*/

fieldset {
    margin: 0 0 1.5em 0;
    border:none;
    padding:0px;
}

legend {
    font-size: 1.2em;
    font-weight: lighter;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
