<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://enass.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>enass</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$enass</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AssClassLibrary.DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User ID=enassuser01@xcflgpyd7t;Password=Enasspass01" Name="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AssClassLibrary.DatabaseContext, AssClassLibrary" MigrationConfiguration="AssClassLibrary.Migrations.Configuration, AssClassLibrary" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User ID=enassuser01@xcflgpyd7t;Password=Enasspass01" Name="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-EnlightenAss-20130814133007.mdf;Initial Catalog=aspnet-EnlightenAss-20130814133007;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-EnlightenAss-20130814133007;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-EnlightenAss-20130814133007.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ProjectDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User ID=enassuser01@xcflgpyd7t;Password=Enasspass01" Name="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|ProjectDbContext-20130814164134.mdf;Initial Catalog=ProjectDbContext-20130814164134;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProjectDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=ProjectDbContext-20130814164134; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ProjectDbContext-20130814164134.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ClientDbContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User ID=enassuser01@xcflgpyd7t;Password=Enasspass01" Name="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|ClientDbContext-20130814161539.mdf;Initial Catalog=ClientDbContext-20130814161539;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ClientDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=ClientDbContext-20130814161539; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ClientDbContext-20130814161539.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntryDbContext" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User ID=enassuser01@xcflgpyd7t;Password=Enasspass01" Name="Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|EntryDbContext-20130814164201.mdf;Initial Catalog=EntryDbContext-20130814164201;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntryDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=EntryDbContext-20130814164201; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|EntryDbContext-20130814164201.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AssClassLibrary.DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientDbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:xcflgpyd7t.database.windows.net,1433;initial catalog=enassdb;user id=enassuser01@xcflgpyd7t;password=Enasspass01;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xcflgpyd7t.database.windows.net,1433;Initial Catalog=enassdb;User Id=enassuser01@xcflgpyd7t;Password=Enasspass01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntryDbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:xcflgpyd7t.database.windows.net,1433;initial catalog=enassdb;user id=enassuser01@xcflgpyd7t;password=Enasspass01;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProjectDbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:xcflgpyd7t.database.windows.net,1433;initial catalog=enassdb;user id=enassuser01@xcflgpyd7t;password=Enasspass01;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AssClassLibrary.DatabaseContext" />
  </ItemGroup>
</Project>