tr.selectedRow a.externalLink{
    color: white;
}
tr a.externalLink{
    color: black;
}

.create-button {
	margin-left:312px;
}
.save-button {
	margin-left:265px;
	display:inline;
}

.delete-button {
	margin-top:-90px;
	margin-left:148px;
}

#trafficLights{
    padding-right: 10px;
    margin-top: -2px;
    padding-bottom:2px;
    float:right;
}


.traffic-light-on{
    margin-bottom:5px;  
    margin-left:20px;
    padding-right:1px;
}

.traffic-light-off{
    margin-bottom:5px; 
    margin-left:20px;
    padding-right:5px;
    display:none;
}

#goButton{
    margin-bottom: 5px;
    margin-left: 5px;
}

.form-move-right {
	margin-left:150px;
}

.TrafficLight{
    display: inline;
}

.feedback{
    display:inline;
    float:right;
    margin-bottom:-20px;
    color:white;
}

.selectedRow{
    background-color:#788;
    color:#FFF;
}

tr.selectedRow td{
    border-top:2px solid black;
    border-bottom:2px solid black;
}

tr.selectedRow th{
    border-top:2px solid black;
    border-bottom:2px solid black;
}

.headerRow.selectedRow{
    background-color:#788;
    color:#FFF;
}

.Development{
    background-color:rgba(168, 0, 0, 0.4);
}

.Development.selectedRow{
    background-color:rgb(168, 0, 0);
    color: white;
}

.Staging{
    background-color:rgba(255, 168, 0, 0.4);
}

.Staging.selectedRow{
    background-color:#dda900;
    color: white;
}

.Production{
    background-color:rgba(0, 168, 0, 0.4);
}

.Production.selectedRow{
    background-color:#00782d;
    color: white;
}

.entry{
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 0px !important;
}

.text-muted {
    color: #999999;
}

tr, a, i{
    cursor:pointer;
}

h1, h2, h3, h4, h5, b, p {
	display: inline;
}

directory{
    text-decoration:underline;
    cursor:pointer;
}

.headerRow{
    background-color:rgba(170, 187, 187, 0.55);
    font-size:16px;
}

.rightButtonGroup{
    margin-top:0px;
    float:right;
}

body{
	padding-top:32px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background:url("/Content/brickwall.png");
    background-repeat:repeat;
}

.mainTitle {
	margin-left:auto;
	margin-right:auto;
    width:1000px;
	color:#CEE3F6;

}

#searchText{
    width: 695px;
	margin-top:10px;
	margin-left:15px;
}

.containerDiv{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    background-color:#FFF;
    min-height:900px;
}

.headerDiv{
    padding:40px;
    background-color:#FFF;
}

.subtitleDiv{
    font-size: 16pt;
    padding:25px;
    color:#d56c6c;
}

.menuDiv{
/*background-color:#008fc5;*/
background-color: #FFF;
float: left;
padding: 25px;
padding-top: 0px;
padding-bottom: 20px;
width: 150px;
min-height: 600px;
}

.menuItemDiv{
margin-bottom:10px;
margin-top: 15px;
color: #FFF;
padding: 10px;
cursor: pointer;
background-color:#CEE3F6;
}

.menuItemDiv:hover{
background-color:#CEE3F6;
}

.contentDiv{
    padding:35px;
    /*background-color: #CEE3F6;*/
    background-color:#FFF;
    min-height:600px;
}

/*
.footerDiv{
    padding: 30px;
    background-color: #22333e;
    color:#FFF;
    text-align: right;
}
    */

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/

/*table{
padding: 0 1.4em 1.4em 1.4em;
margin: 0 0 1.5em 0;
border-collapse: collapse;
border: solid;
border-width: 1px;
border-color: #008fc5;
}

th,td{
padding-left:10px;
padding-right:10px;
width:auto;
}

.rowHighlight:hover{
background-color: #FFF;
}


.tableHeader{
font-weight:bold;
border:solid;
border-width: 1px;
border-color:#104E8B;
}*/

fieldset {
    margin: 0 0 1.5em 0;
    border:none;
    padding:0px;
}

legend {
    font-size: 1.2em;
    font-weight: lighter;
}

textarea {
    min-height: 75px;
}

.editor-label {
	float:left;
}

.editor-field {
	margin-top: 30px;
	width:500px; 
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
