@model IEnumerable<AssClassLibrary.Client>

<script src="~/Scripts/KeyboardNav.js"></script>

All Clients<button class="btn btn-small btn-primary" style="float:right;" onclick="requestItem('0', '/Client/Create')">New Client</button>
<hr />


<table class="table table-bordered">
    <tr>
        <th class="table-bordered th" style="width:300px;">Client Name</th>
        <th class="table-bordered th">Notes</th>
    </tr>
    @{int counter =0;}
    @foreach (var item in Model)
    {
        
        <tr class="rowHighlight">
            <td id="@counter" onmouseover= "mousedOver(@counter)" onclick="requestItem('@item.ClientId', '/Project/Index')">
                @item.Name
            </td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
        </tr>
        counter++;
    }
</table>
<script>
    initialize();
</script>