@model IEnumerable<AssClassLibrary.Client>

<script src="~/Scripts/KeyboardNav.js"></script>

<legend><u>Clients</u></legend>
<a class="editButton" onclick="requestItem('0', '/Client/Create')">Create New</a>


<table class="table table-bordered">
    <tr>
        <th class="table-bordered th">Client Name</th>
        <th class="table-bordered th">Notes</th>
    </tr>
    @{int counter =0;}
    @foreach (var item in Model)
    {
        
        <tr class="rowHighlight">
            <td id="@counter" onmouseover= "mousedOver(@counter)" onclick="requestItem('@item.ClientId', '/Project/Index')">
                @item.Name
            </td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
        </tr>
        counter++;
    }
</table>
<script>
    initialize();
</script>