@model IEnumerable<AssClassLibrary.Client>

<legend><u>Clients</u></legend>
<a style="display:none" class="editButton" onclick="requestItem('0', '/Client/Create')">Create New</a>

<table class="table table-bordered">
    <tr>
        <th class="table-bordered th">Client Name</th>
        <th class="table-bordered th">Notes</th>
        <th style="display:none" class="table-bordered th editButton"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="rowHighlight">
            <td onclick="requestItem('@item.ClientId', '/Project/Index')">
                @item.Name
            </td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
            <td style="display:none" class="editButton" onclick="requestItem('@item.ClientId', '/Client/Change')">
                Change
            </td>
        </tr>
    }
</table>